body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .container-top {
    height: 33.33%;
    background-color: rgb(1, 105, 1);
  }
  
  .container-bottom {
    position: relative;
    height: 66.67%;
  }
  
  .container-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/background/background_0.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
  }
  
  .heading-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80%;
  }
  
  .heading-container h1 {
    color: white;
    font-size: 50px;
  }
  
  .main-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(187, 187, 0);
  }
  